#edit-panel {
    background-color: rgb(235, 233, 233);
    width: 600px;
    height: 350px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 0 10px #000000;
}
.full-page {
    position: fixed;
    top: -3px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
#button-exit {
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 0;
    padding: 0;
    background: 0%;
}
#button-check {
    display: block;
    position: absolute;
    top: 85%;
    right: 5%;
    width: 50px;
    height: 40px;
    margin: 0;
    border: dashed black;
    padding: 0;
    background: 0%;
    color: green;
}
input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: rgb(224, 161, 23);
	display: block;
	border-radius: 100px;
	position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 3.5px;
	left: 3px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 10px;
	transition: 0.3s;
}
input:checked + label {
	background: #3141cf;
}
input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}
label:active:after {
	width: 25px;
}
.line {
    width: 100%;
    font: italic small-caps bold 16px/2 cursive;
    font-size: 1em;
    margin-bottom: 0;
}
#description {
    position: relative;
    top: 10px;
    resize: none;
    border: solid black;
}
#appt {
    position: relative;
    border: solid black;
    width: 100px;
    height: 50px;
    font-size: 1.5em;
    top: 10px;
}