.time-line {
    font-family: sans-serif;
    width: 100px;
    height: 100px;
    outline: none;
    overflow: hidden;
    text-align: center;
}

.timer-wrapper {
    position: relative;
}

.timer-base {
    stroke: #ffffff8b;
    stroke-width: 5;
    fill: transparent;
}
  
.minute {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
  
.second {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
}